# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

## build
build/

## vscode
.vscode
